/AX.class
/Animal.class
/AnimalTest.class
/Car.class
/Card.class
/CardTest.class
/Constructors.class
/Discovery.class
/Examples.class
/ExamplesTest.class
/FinalKeyword.class
/MC.class
/Monkey.class
/Student.class
/StudentTest.class
/SyntaxStudent.class
/Tesla.class
/Visa.class
/smallExample.class
