/HomeWork.class
/Logical0r.class
/LogicalAnd.class
/LogicalAndScanner.class
/LogicalNot.class
/MoreLogicalExamples.class
/NestedIfRecap.class
/Practice.class
/Recap.class
/TaskAssigningToVariables.class
